<input type="text" placeholder="Enter Summoner Name" #smnName id="smnName">
<button (click)="findSummoner(smnName.value)">Search</button>
<div class="container-fluid" style="width: 1000px">
    <table [hidden]="!Searched"  class = "table table-striped">
        <thead>
            <tr>
                <th>Victory?</th>
                <th>Champion</th>
                <th>Item 1</th>
                <th>Item 2</th>
                <th>Item 3</th>
                <th>Item 4</th>
                <th>Item 5</th>
                <th>Item 6</th>
                <th>Item 7</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{status_0}}</td>
                <td><img [hidden]="isChampValid(champId_0)" class ="champ-image"  title="{{cName0}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_0}}">
                    <img [hidden]="!isChampValid(champId_0)"class ="champ-image" src="src\assets\noItem.png"></td>   
                <td><img [hidden]="isValid(item0_0)"class="item-image" title="{{item0_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_0}}.png">
                    <img [hidden]="!isValid(item0_0)"class ="item-image" title="{{item0_0text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_0)"class="item-image" title="{{item1_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_0}}.png">
                    <img [hidden]="!isValid(item1_0)"class ="item-image" title="{{item1_0text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_0)"class="item-image" title="{{item2_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_0}}.png">
                    <img [hidden]="!isValid(item2_0)"class ="item-image" title="{{item2_0text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_0)"class="item-image" title="{{item3_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_0}}.png">
                    <img [hidden]="!isValid(item3_0)"class ="item-image" title="{{item3_0text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_0)"class="item-image" title="{{item4_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_0}}.png">
                    <img [hidden]="!isValid(item4_0)"class ="item-image" title="{{item4_0text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_0)"class="item-image" title="{{item5_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_0}}.png">
                    <img [hidden]="!isValid(item5_0)"class ="item-image" title="{{item5_0text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_0)"class="item-image" title="{{item6_0text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_0}}.png">
                    <img [hidden]="!isValid(item6_0)"class ="item-image" title="{{item6_0text}}" src="src\assets\noItem.png"></td>
               <td><button (click)="moreInfo0()" >More Info</button></td>

               <td>
                   <div style="width: 900px">
                   <table [hidden]="!MoreInfo0"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match0_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match0_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_1}}</td>
                <td><img [hidden]="isChampValid(champId_1)" class ="champ-image"  title="{{cName1}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_1}}">
                    <img [hidden]="!isChampValid(champId_1)"class ="champ-image" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item0_1)"class="item-image" title="{{item0_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_1}}.png">
                    <img [hidden]="!isValid(item0_1)"class ="item-image" title="{{item0_1text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_1)"class="item-image" title="{{item1_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_1}}.png">
                    <img [hidden]="!isValid(item1_1)"class ="item-image" title="{{item1_1text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_1)"class="item-image" title="{{item2_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_1}}.png">
                    <img [hidden]="!isValid(item2_1)"class ="item-image" title="{{item2_1text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_1)"class="item-image" title="{{item3_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_1}}.png">
                    <img [hidden]="!isValid(item3_1)"class ="item-image" title="{{item3_1text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_1)"class="item-image" title="{{item4_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_1}}.png">
                    <img [hidden]="!isValid(item4_1)"class ="item-image" title="{{item4_1text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_1)"class="item-image" title="{{item5_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_1}}.png">
                    <img [hidden]="!isValid(item5_1)"class ="item-image" title="{{item5_1text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_1)"class="item-image" title="{{item6_1text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_1}}.png">
                    <img [hidden]="!isValid(item6_1)"class ="item-image" title="{{item6_1text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo1()" >More Info</button></td>
                <td>
                    <div style="width: 900px;">
                   <table [hidden]="!MoreInfo1"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match1_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match1_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_2}}</td>
                <td><img [hidden]="isChampValid(champId_2)" class ="champ-image"  title="{{cName2}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_2}}">
                    <img [hidden]="!isChampValid(champId_2)"class ="champ-image" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item0_2)"class="item-image" title="{{item0_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_2}}.png">
                    <img [hidden]="!isValid(item0_2)"class ="item-image" title="{{item0_2text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_2)"class="item-image" title="{{item1_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_2}}.png">
                    <img [hidden]="!isValid(item1_2)"class ="item-image" title="{{item1_2text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_2)"class="item-image" title="{{item2_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_2}}.png">
                    <img [hidden]="!isValid(item2_2)"class ="item-image" title="{{item2_2text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_2)"class="item-image" title="{{item3_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_2}}.png">
                    <img [hidden]="!isValid(item3_2)"class ="item-image" title="{{item3_2text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_2)"class="item-image" title="{{item4_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_2}}.png">
                    <img [hidden]="!isValid(item4_2)"class ="item-image" title="{{item4_2text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_2)"class="item-image" title="{{item5_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_2}}.png">
                    <img [hidden]="!isValid(item5_2)"class ="item-image" title="{{item5_2text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_2)"class="item-image" title="{{item6_2text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_2}}.png">
                    <img [hidden]="!isValid(item6_2)"class ="item-image" title="{{item6_2text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo2()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo2"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match2_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match2_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_3}}</td>
                <td><img [hidden]="isChampValid(champId_3)" class ="champ-image"  title="{{cName3}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_3}}">
                    <img [hidden]="!isChampValid(champId_3)"class ="champ-image" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item0_3)"class="item-image" title="{{item0_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_3}}.png">
                    <img [hidden]="!isValid(item0_3)"class ="item-image" title="{{item0_3text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_3)"class="item-image" title="{{item1_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_3}}.png">
                    <img [hidden]="!isValid(item1_3)"class ="item-image" title="{{item1_3text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_3)"class="item-image" title="{{item2_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_3}}.png">
                    <img [hidden]="!isValid(item2_3)"class ="item-image" title="{{item2_3text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_3)"class="item-image" title="{{item3_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_3}}.png">
                    <img [hidden]="!isValid(item3_3)"class ="item-image" title="{{item3_3text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_3)"class="item-image" title="{{item4_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_3}}.png">
                    <img [hidden]="!isValid(item4_3)"class ="item-image" title="{{item4_3text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_3)"class="item-image" title="{{item5_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_3}}.png">
                    <img [hidden]="!isValid(item5_3)"class ="item-image" title="{{item5_3text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_3)"class="item-image" title="{{item6_3text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_3}}.png">
                    <img [hidden]="!isValid(item6_3)"class ="item-image" title="{{item6_3text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo3()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo3"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match3_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match3_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_4}}</td>
                <td><img [hidden]="isChampValid(champId_4)" class ="champ-image"  title="{{cName4}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_4}}">
                    <img [hidden]="!isChampValid(champId_4)"class ="champ-image" src="src\assets\noItem.png"></td>
                   <td><img [hidden]="isValid(item0_4)"class="item-image" title="{{item0_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_4}}.png">
                    <img [hidden]="!isValid(item0_4)"class ="item-image" title="{{item0_4text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_4)"class="item-image" title="{{item1_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_4}}.png">
                    <img [hidden]="!isValid(item1_4)"class ="item-image" title="{{item1_4text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_4)"class="item-image" title="{{item2_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_4}}.png">
                    <img [hidden]="!isValid(item2_4)"class ="item-image" title="{{item2_4text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_4)"class="item-image" title="{{item3_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_4}}.png">
                    <img [hidden]="!isValid(item3_4)"class ="item-image" title="{{item3_4text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_4)"class="item-image" title="{{item4_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_4}}.png">
                    <img [hidden]="!isValid(item4_4)"class ="item-image" title="{{item4_4text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_4)"class="item-image" title="{{item5_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_4}}.png">
                    <img [hidden]="!isValid(item5_4)"class ="item-image" title="{{item5_4text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_4)"class="item-image" title="{{item6_4text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_4}}.png">
                    <img [hidden]="!isValid(item6_4)"class ="item-image" title="{{item6_4text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo4()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo4"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match4_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match4_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_5}}</td>
                <td><img [hidden]="isChampValid(champId_5)" class ="champ-image"  title="{{cName5}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_5}}">
                    <img [hidden]="!isChampValid(champId_5)"class ="champ-image" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item0_5)"class="item-image" title="{{item0_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_5}}.png">
                    <img [hidden]="!isValid(item0_5)"class ="item-image" title="{{item0_5text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_5)"class="item-image" title="{{item1_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_5}}.png">
                    <img [hidden]="!isValid(item1_5)"class ="item-image" title="{{item1_5text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_5)"class="item-image" title="{{item2_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_5}}.png">
                    <img [hidden]="!isValid(item2_5)"class ="item-image" title="{{item2_5text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_5)"class="item-image" title="{{item3_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_5}}.png">
                    <img [hidden]="!isValid(item3_5)"class ="item-image" title="{{item3_5text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_5)"class="item-image" title="{{item4_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_5}}.png">
                    <img [hidden]="!isValid(item4_5)"class ="item-image" title="{{item4_5text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_5)"class="item-image" title="{{item5_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_5}}.png">
                    <img [hidden]="!isValid(item5_5)"class ="item-image" title="{{item5_5text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_5)"class="item-image" title="{{item6_5text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_5}}.png">
                    <img [hidden]="!isValid(item6_5)"class ="item-image" title="{{item6_5text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo5()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo5"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match5_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match5_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_6}}</td>
                <td><img [hidden]="isChampValid(champId_6)" class ="champ-image"  title="{{cName6}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_6}}">
                    <img [hidden]="!isChampValid(champId_6)"class ="champ-image" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item0_6)"class="item-image" title="{{item0_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_6}}.png">
                    <img [hidden]="!isValid(item0_6)"class ="item-image" title="{{item0_6text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_6)"class="item-image" title="{{item1_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_6}}.png">
                    <img [hidden]="!isValid(item1_6)"class ="item-image" title="{{item1_6text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_6)"class="item-image" title="{{item2_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_6}}.png">
                    <img [hidden]="!isValid(item2_6)"class ="item-image" title="{{item2_6text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_6)"class="item-image" title="{{item3_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_6}}.png">
                    <img [hidden]="!isValid(item3_6)"class ="item-image" title="{{item3_6text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_6)"class="item-image" title="{{item4_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_6}}.png">
                    <img [hidden]="!isValid(item4_6)"class ="item-image" title="{{item4_6text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_6)"class="item-image" title="{{item5_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_6}}.png">
                    <img [hidden]="!isValid(item5_6)"class ="item-image" title="{{item5_6text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_6)"class="item-image" title="{{item6_6text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_6}}.png">
                    <img [hidden]="!isValid(item6_6)"class ="item-image" title="{{item6_6text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo6()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo6"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match6_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match6_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_7}}</td>
                <td><img [hidden]="isChampValid(champId_7)" class ="champ-image"  title="{{cName7}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_7}}">
                    <img [hidden]="!isChampValid(champId_7)"class ="champ-image" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item0_7)"class="item-image" title="{{item0_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_7}}.png">
                    <img [hidden]="!isValid(item0_7)"class ="item-image" title="{{item0_7text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_7)"class="item-image" title="{{item1_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_7}}.png">
                    <img [hidden]="!isValid(item1_7)"class ="item-image" title="{{item1_7text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_7)"class="item-image" title="{{item2_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_7}}.png">
                    <img [hidden]="!isValid(item2_7)"class ="item-image" title="{{item2_7text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_7)"class="item-image" title="{{item3_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_7}}.png">
                    <img [hidden]="!isValid(item3_7)"class ="item-image" title="{{item3_7text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_7)"class="item-image" title="{{item4_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_7}}.png">
                    <img [hidden]="!isValid(item4_7)"class ="item-image" title="{{item4_7text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_7)"class="item-image" title="{{item5_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_7}}.png">
                    <img [hidden]="!isValid(item5_7)"class ="item-image" title="{{item5_7text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_7)"class="item-image" title="{{item6_7text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_7}}.png">
                    <img [hidden]="!isValid(item6_7)"class ="item-image" title="{{item6_7text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo7()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo7"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match7_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match7_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_8}}</td>
                <td><img [hidden]="isChampValid(champId_8)" class ="champ-image"  title="{{cName8}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_8}}">
                    <img [hidden]="!isChampValid(champId_8)"class ="champ-image" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item0_8)"class="item-image" title="{{item0_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_8}}.png">
                    <img [hidden]="!isValid(item0_8)"class ="item-image" title="{{item0_8text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item1_8)"class="item-image" title="{{item1_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_8}}.png">
                    <img [hidden]="!isValid(item1_8)"class ="item-image" title="{{item1_8text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item2_8)"class="item-image" title="{{item2_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_8}}.png">
                    <img [hidden]="!isValid(item2_8)"class ="item-image" title="{{item2_8text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item3_8)"class="item-image" title="{{item3_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_8}}.png">
                    <img [hidden]="!isValid(item3_8)"class ="item-image" title="{{item3_8text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item4_8)"class="item-image" title="{{item4_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_8}}.png">
                    <img [hidden]="!isValid(item4_8)"class ="item-image" title="{{item4_8text}}" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item5_8)"class="item-image" title="{{item5_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_8}}.png">
                    <img [hidden]="!isValid(item5_8)"class ="item-image" title="{{item5_8text}}" src="src\assets\noItem.png"></td>
                 <td><img [hidden]="isValid(item6_8)"class="item-image" title="{{item6_8text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_8}}.png">
                    <img [hidden]="!isValid(item6_8)"class ="item-image" title="{{item6_8text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo8()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo8"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match8_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match8_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
            <tr>
                <td>{{status_9}}</td>
                <td><img [hidden]="isChampValid(champId_9)" class ="champ-image"  title="{{cName9}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champName_9}}">
                    <img [hidden]="!isChampValid(champId_9)"class ="champ-image" src="src\assets\noItem.png"></td>
                <td><img [hidden]="isValid(item0_9)"class="item-image" title="{{item0_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item0_9}}.png">
                        <img [hidden]="!isValid(item0_9)"class ="item-image" title="{{item0_9text}}" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item1_9)"class="item-image" title="{{item1_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item1_9}}.png">
                        <img [hidden]="!isValid(item1_9)"class ="item-image" title="{{item1_9text}}" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item2_9)"class="item-image" title="{{item2_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item2_9}}.png">
                        <img [hidden]="!isValid(item2_9)"class ="item-image" title="{{item2_9text}}" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item3_9)"class="item-image" title="{{item3_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item3_9}}.png">
                        <img [hidden]="!isValid(item3_9)"class ="item-image" title="{{item3_9text}}" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item4_9)"class="item-image" title="{{item4_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item4_9}}.png">
                        <img [hidden]="!isValid(item4_9)"class ="item-image" title="{{item4_9text}}" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item5_9)"class="item-image" title="{{item5_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item5_9}}.png">
                        <img [hidden]="!isValid(item5_9)"class ="item-image" title="{{item5_9text}}" src="src\assets\noItem.png"></td>
                    <td><img [hidden]="isValid(item6_9)"class="item-image" title="{{item6_9text}}" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/item/{{item6_9}}.png">
                        <img [hidden]="!isValid(item6_9)"class ="item-image" title="{{item6_9text}}" src="src\assets\noItem.png"></td>
                <td><button (click)="moreInfo9()" >More Info</button></td>
                <td>
                    <div style="width: 900px">
                   <table [hidden]="!MoreInfo9"  class = "table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align:center;">Player 1</th>
                            <th style="width: 100px; text-align:center;">Player 2</th>
                            <th style="width: 100px; text-align:center;">Player 3</th>
                            <th style="width: 100px; text-align:center;">Player 4</th>
                            <th style="width: 100px; text-align:center;">Player 5</th>
                            <th style="width: 100px; text-align:center;">Player 6</th>
                            <th style="width: 100px; text-align:center;">Player 7</th>
                            <th style="width: 100px; text-align:center;">Player 8</th>
                            <th style="width: 100px; text-align:center;">Player 9</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 100px; text-align:center;">{{match9_player0Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player1Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player2Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player3Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player4Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player5Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player6Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player7Name}}</td>
                        <td style="width: 100px; text-align:center;">{{match9_player8Name}}</td>
                    </tr>
                 </table>
                 </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>